# Ignore all node_modules recursively
**/node_modules/

# Ignore all .env files recursively
**/.env
**/.env.*

# Ignore all Vercel configs recursively
**/.vercel/

# Logs
**/*.log

# OS files
.DS_Store
Thumbs.db
.vercel
