@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import "tailwindcss";

* {
  font-family: 'Poppins', sans-serif;

  box-sizing: border-box;
}

body {
  background: #8758ff;

  
}